ALTER TABLE public.trips ADD COLUMN IF NOT EXISTS trip_version INT DEFAULT 1;
CREATE TABLE IF NOT EXISTS public.trip_events (
  id uuid DEFAULT gen_random_uuid() PRIMARY KEY,
  trip_id uuid REFERENCES public.trips(id),
  event_type text,
  actor text,
  payload jsonb,
  created_at timestamptz DEFAULT now()
);
ALTER TABLE public.trips REPLICA IDENTITY FULL;
