.support,
.support * {
  box-sizing: border-box;
}
.support {
  background: #ffffff;
  height: 812px;
  position: relative;
  overflow: hidden;
}
.bg {
  height: 324px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.options {
  position: absolute;
  inset: 0;
}
.bg2 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  height: 212px;
  position: absolute;
  right: 21px;
  left: 21px;
  top: 278px;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.row-2 {
  height: 60px;
  position: absolute;
  right: 41px;
  left: 41px;
  top: 294px;
}
.rec {
  background: rgba(255, 255, 255, 0.01);
  height: 60px;
  position: absolute;
  right: 0px;
  left: 1px;
  top: 0px;
}
.line {
  border-radius: 0px;
  width: 99.4%;
  height: 0px;
  position: absolute;
  right: 0.3%;
  left: 0.3%;
  top: calc(50% - -29px);
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.address {
  color: #4b545a;
  text-align: left;
  font-family: var(--15textreg-font-family, "Inter-Regular", sans-serif);
  font-size: var(--15textreg-font-size, 15px);
  line-height: var(--15textreg-line-height, 136%);
  font-weight: var(--15textreg-font-weight, 400);
  position: absolute;
  right: 16.22%;
  left: 0%;
  width: 83.78%;
  top: 50%;
  translate: 0 -50%;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ic-arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -6px;
  top: calc(50% - 13px);
  overflow: visible;
}
.row-22 {
  height: 60px;
  position: absolute;
  right: 41px;
  left: 41px;
  top: 354px;
}
.line2 {
  border-radius: 0px;
  width: 99.4%;
  height: 0px;
  position: absolute;
  right: 0.3%;
  left: 0.3%;
  top: calc(50% - -29px);
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.ic-arrow2 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -6px;
  top: calc(50% - 13px);
  overflow: visible;
}
.row-23 {
  height: 60px;
  position: absolute;
  right: 41px;
  left: 41px;
  top: 414px;
}
.ic-arrow3 {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -6px;
  top: calc(50% - 13px);
  overflow: visible;
}
.navbar-x {
  height: 70px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.nav-btn {
  position: absolute;
  inset: 0;
}
.ellipse {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 15px;
  top: 27px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.ic-arrow4 {
  width: 8%;
  height: 42.86%;
  position: absolute;
  right: 87.2%;
  left: 4.8%;
  bottom: 14.29%;
  top: 42.86%;
  overflow: visible;
}
.nav-text {
  color: #ffffff;
  text-align: center;
  font-family: var(--heading-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-1-font-size, 20px);
  line-height: var(--heading-1-line-height, 28px);
  letter-spacing: var(--heading-1-letter-spacing, 0.2px);
  font-weight: var(--heading-1-font-weight, 700);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 35px;
  width: 237px;
  height: 20px;
}
.status-bar-black {
  width: 86.93%;
  height: 14px;
  position: absolute;
  right: 5.87%;
  left: 7.2%;
  top: 6px;
  overflow: hidden;
}
.i-phone-x-status-bars-status-bar-black {
  position: absolute;
  inset: 0;
}
.battery {
  width: 23.83px;
  height: 10.33px;
  position: absolute;
  right: 0.67px;
  top: 0.83px;
  overflow: visible;
}
.wifi {
  width: 15.27px;
  height: 10.97px;
  position: absolute;
  right: 30.03px;
  top: 0.33px;
  overflow: visible;
}
.cellular-connection {
  width: 17px;
  height: 10.67px;
  position: absolute;
  right: 50.33px;
  top: 0.67px;
  overflow: visible;
}
.time-style {
  width: 28px;
  height: 17px;
  position: static;
}
._9-41 {
  color: #ffffff;
  text-align: left;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: -0.2px;
  top: -1.5px;
}
.option-4 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 21px;
  top: 514px;
}
.rec2 {
  background: #ffffff;
  border-radius: 15px;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}
.desc {
  color: #4b545a;
  text-align: center;
  font-family: var(--15textbold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--15textbold-font-size, 15px);
  font-weight: var(--15textbold-font-weight, 700);
  position: absolute;
  left: 18px;
  top: calc(50% - -16px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic-favoutite {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: calc(50% - 35px);
  overflow: visible;
}
.option {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 138px;
  top: 514px;
}
.desc2 {
  color: #4b545a;
  text-align: center;
  font-family: var(--15textbold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--15textbold-font-size, 15px);
  font-weight: var(--15textbold-font-weight, 700);
  position: absolute;
  left: 17px;
  top: calc(50% - -16px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic-payment {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
  overflow: visible;
}
.option2 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 254px;
  top: 514px;
}
.desc3 {
  color: #4b545a;
  text-align: center;
  font-family: var(--15textbold-font-family, "Inter-Bold", sans-serif);
  font-size: var(--15textbold-font-size, 15px);
  font-weight: var(--15textbold-font-weight, 700);
  position: absolute;
  left: 16px;
  top: calc(50% - -16px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.ic-calendar {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: 15px;
  overflow: visible;
}
