.support-request-2,
.support-request-2 * {
  box-sizing: border-box;
}
.support-request-2 {
  background: #ffffff;
  height: 1052px;
  position: relative;
  overflow: hidden;
}
.group {
  height: auto;
  position: absolute;
  right: 21px;
  left: 21px;
  top: 724px;
  overflow: visible;
}
.group2 {
  position: absolute;
  inset: 0;
}
.row-1 {
  width: 159px;
  height: 20px;
  position: static;
}
.displayed-name {
  color: var(--black, #002333);
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  right: 195px;
  left: 21px;
  top: 532px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-2 {
  width: 81px;
  height: 30px;
  position: static;
}
.desc {
  color: var(--black, #002333);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 145.23%;
  font-weight: 400;
  position: absolute;
  left: 45px;
  top: 570px;
  width: 51px;
  height: 18px;
}
.ic-check {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 15px;
  top: calc(50% - -38px);
  overflow: hidden;
}
.bound {
  background: rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.true {
  width: 60%;
  height: 59.96%;
  position: absolute;
  right: 20%;
  left: 20%;
  bottom: 20.04%;
  top: 20%;
  overflow: visible;
}
.group-22 {
  width: 80px;
  height: 30px;
  position: static;
}
.desc2 {
  color: #4b545a;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 145.23%;
  font-weight: 400;
  position: absolute;
  left: 212px;
  top: 570px;
  width: 51px;
  height: 18px;
}
.ic-check2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 183px;
  top: calc(50% - -38px);
  overflow: hidden;
}
.false {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: var(--grey, #dee5e7);
  border-width: 1px;
  width: 60%;
  height: 60%;
  position: absolute;
  right: 20%;
  left: 20%;
  bottom: 20%;
  top: 20%;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.15);
}
.input {
  height: 71px;
  position: absolute;
  right: 21px;
  left: 21px;
  top: 426px;
}
.rec {
  border-radius: 0px;
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 27px;
  overflow: visible;
}
.hint-text {
  color: var(--black, #002333);
  text-align: left;
  font-family: var(--heading-3-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-3-font-size, 13px);
  line-height: var(--heading-3-line-height, 20px);
  font-weight: var(--heading-3-font-weight, 700);
  text-transform: uppercase;
  position: absolute;
  left: 4px;
  top: 0px;
  width: 256px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ic-visibility {
  width: 30px;
  height: 30px;
  position: absolute;
  right: -18px;
  top: calc(50% - -1.5px);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  overflow: hidden;
}
.bound2 {
  background: rgba(255, 255, 255, 0.01);
  width: 100%;
  height: 100%;
  position: absolute;
  right: -100%;
  left: 100%;
  bottom: 0%;
  top: 0%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
}
.input2 {
  height: 71px;
  position: absolute;
  right: 195px;
  left: 21px;
  top: 338px;
}
.rec2 {
  border-radius: 0px;
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 27px;
  overflow: visible;
}
.input3 {
  height: 71px;
  position: absolute;
  right: 21px;
  left: 195px;
  top: 338px;
}
.rec3 {
  border-radius: 0px;
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 27px;
  overflow: visible;
}
.input4 {
  height: 71px;
  position: absolute;
  right: 22px;
  left: 21px;
  top: 618px;
}
.rec4 {
  border-radius: 0px;
  width: 100%;
  height: 44px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 27px;
  overflow: visible;
}
.info {
  position: absolute;
  inset: 0;
}
.desc3 {
  color: var(--black, #002333);
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  line-height: 145.23%;
  font-weight: 400;
  position: absolute;
  right: 21px;
  left: 21px;
  top: 158px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heading-2 {
  color: var(--black, #002333);
  text-align: left;
  font-family: var(--heading-2-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 18px);
  line-height: var(--heading-2-line-height, 28px);
  letter-spacing: var(--heading-2-letter-spacing, 0.2px);
  font-weight: var(--heading-2-font-weight, 700);
  position: absolute;
  right: 21px;
  left: 21px;
  top: 120px;
  height: 32px;
}
.navbar-x {
  height: 70px;
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
}
.nav-btn {
  position: absolute;
  inset: 0;
}
.ellipse {
  background: #ffffff;
  border-radius: 50%;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 15px;
  top: 27px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.ic-arrow {
  width: 8%;
  height: 42.86%;
  position: absolute;
  right: 87.2%;
  left: 4.8%;
  bottom: 14.29%;
  top: 42.86%;
  overflow: visible;
}
.nav-text {
  color: var(--black, #002333);
  text-align: center;
  font-family: var(--heading-1-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-1-font-size, 20px);
  line-height: var(--heading-1-line-height, 28px);
  letter-spacing: var(--heading-1-letter-spacing, 0.2px);
  font-weight: var(--heading-1-font-weight, 700);
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 35px;
  width: 237px;
  height: 20px;
}
.status-bar-black {
  width: 86.93%;
  height: 14px;
  position: absolute;
  right: 5.87%;
  left: 7.2%;
  top: 6px;
  overflow: hidden;
}
.i-phone-x-status-bars-status-bar-black {
  position: absolute;
  inset: 0;
}
.battery {
  width: 23.83px;
  height: 10.33px;
  position: absolute;
  right: 0.67px;
  top: 0.83px;
  overflow: visible;
}
.wifi {
  width: 15.27px;
  height: 10.97px;
  position: absolute;
  right: 30.03px;
  top: 0.33px;
  overflow: visible;
}
.cellular-connection {
  width: 17px;
  height: 10.67px;
  position: absolute;
  right: 50.33px;
  top: 0.67px;
  overflow: visible;
}
.time-style {
  width: 28px;
  height: 17px;
  position: static;
}
._9-41 {
  color: #000000;
  text-align: left;
  font-family: "Helvetica-Regular", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: -0.2px;
  top: -1.5px;
}
.block {
  position: fixed;
  right: 0px;
  left: 0px;
  bottom: 0px;
}
.bg {
  height: 118px;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  overflow: visible;
}
.btn-main {
  height: 60px;
  position: absolute;
  right: 21px;
  left: 21px;
  bottom: 38px;
}
.btn-bg {
  border-radius: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.btn-text {
  color: #ffffff;
  text-align: center;
  font-family: var(--heading-2-font-family, "Inter-Bold", sans-serif);
  font-size: var(--heading-2-font-size, 18px);
  line-height: var(--heading-2-line-height, 28px);
  letter-spacing: var(--heading-2-letter-spacing, 0.2px);
  font-weight: var(--heading-2-font-weight, 700);
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 36.67%;
  top: 36.67%;
  height: 26.67%;
  display: flex;
  align-items: center;
  justify-content: center;
}
