@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  /* Safe area for mobile */
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer base {
  body {
    @apply bg-white text-text-main font-sans antialiased;
  }
}

/* Smooth Marker Movement */
.leaflet-marker-icon {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Map specific fixes */
.leaflet-container {
  background: #f8f9fa !important;
}
